/*INICIO EMPRESA*/

/*empresa blade*/
.iconotittulo{
  font-size: 25px;
  color: #F09300;
  font-weight: bold;

}
.iconotittuloletra{
  font-size: 25px;
  color: #5B5B5F;
  font-weight: bold;

}
.empresatext{
  font-weight: bold;
   color: #5B5B5F !important;
}
/*empresa blade*/

/*inincio ususarios blade*/
.bg{
background-color: #e5e3e3 !important;}


.form-check-input{
  background-color:  red;
}
.btn-lg{
   width: 100%;
   background: #F09300;
   color:white; 
   font-size: 20px; 
   font-weight: bold; margin-top: 15px;
   font-family: Signika,sans-serif;
   padding: 15px;
}
/*fin empresa blade*/


@media (min-width: 992px) { 

/*INICIO EMPRESA*/

/*empresa blade*/
.iconotittulo{
  font-size: 30px;
  color: #F09300;
  font-weight: bold;

}
.iconotittuloletra{
  font-size: 30px;
  color: #5B5B5F;
  font-weight: bold;

}

.empresatext{
  font-weight: bold;
   color: #5B5B5F !important;
}

.bg{
background-color: #e5e3e3 !important;}


.form-check-input{
  background-color:  red;
}
.btn-lg{
   width: 300px;
   background: #F09300;
   color:white; 
   font-size: 20px; 
   font-weight: bold; margin-top: 15px;
   font-family: Signika,sans-serif;
   padding: 15px;
}

.colorlinea{
  background-color: #d1d1d1;
  height: 2px;
}
/*fin empresa blade*/
}