

 .menu2{   
    
    position: fixed;
    z-index: 1;
    height: 120px;
    width: 100%;
    padding-top: 20px;
   
}

.logo{
	width: 136px;
	height: 80px;
    margin-right:  40%;
	
}

.navbar{
	
	padding-left: 150px;
	padding-right: 150px;
}

.buscar{
	width: 300px;
}



.iconos{
    color: #efcb4b;
    font-size: 50px;
}

.iconos2{
    color: #9c9c9c;
    font-size: 50px;
}

.nav-link{
    text-align: center;
}
.nav-link:hover{
    background: red;
    text-align: center;
}

