@charset "utf-8";
/* CSS Document */


/*.tamaño{
	width: 200px;
	height: 400px;
}*/
/*.contenedor-img {
background:#000;
cursor: default;
float: left;
height:100%;
overflow: hidden;
position: relative;
text-align: center;
width: 100%;

}*/
/*.contenedor-img .mascara,.contenedor-img .contenido {
width: 100%;
height: 100%;
position: absolute;	
overflow: hidden;

padding:0px;
top: 0;
left: 0
}
.contenedor-img img {
display: block;
position: relative;
}*/

/* antesssssssssss
.contenedor-img h2 {
text-transform: uppercase;
color: #fff;
text-align: center;
position: relative;
font-size: 17px;
padding: 50px;

background: rgba(0, 0, 0,0.9);
margin: 50px 0 0 0
}
antesssssssssss*/
/*.contenedor-img p {*/
/*padding: 100px 20px 10px;*/
/*color:#FFF;
font-family: 'Ubuntu Condensed', sans-serif;
font-size: 13.5px;
margin: 20% 10%;
position: relative;
text-align: center
}*/
/*.contenedor-img a.link {
display: inline-block;
text-decoration: none;
margin-top: 0px;
padding: 7px 50px ;
/*background:#222;*/
/*color:#fff;
text-transform: uppercase;
/*box-shadow: 0 0 1px #000*/
/*}*/
/*.contenedor-img a.link:hover {
box-shadow: 0 0 5px #000
}*/
.ejemplo-1 img {
transition: all 0.3s linear;
}/*
.ejemplo-1 .mascara {
opacity: 0;
background-color: rgba(193,66,66,.5);
transition: all 0.3s ease-in-out;
padding-bottom:5px;
}*/
/*.ejemplo-1 h2 {	
transform: translateX(-200px);/*Desplazamos a la izquierda*/
/*opacity: 0;
transition: all 0.7s ease-in-out;
}*/
/*.ejemplo-1 p {
transform: translateY(-200px);/*Desplazamos a la derecha*/
/*opacity: 0;*/
/*transition: all 0.4s linear;*/
/*transition: all 0.4s ease-in-out;
}*/
/*.ejemplo-1 a.link{
opacity: 0;
transition: all 0.4s ease-in-out;
transform: translateY(100px)/*Desplazamos para abajo*/
/*}*/
.ejemplo-1:hover img {
transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
}
/*.ejemplo-1:hover .mascara {
opacity: 1;
}*/

/*.ejemplo-1:hover h2,
.ejemplo-1:hover p,
.ejemplo-1:hover a.link {
opacity: 1;
transform: translateX(0px);/*Regresamos a las posiciones originales*/
/*}*/
/*.ejemplo-1:hover p {
transition-delay: 0.1s;
}*/
/*.ejemplo-1:hover a.link {
transition-delay: 0.2s; /*Aplicamos un pequeño retardo para que se muestre al final*/
/*transform: translateY(0px);
}*/